<template lang="pug">
.home
    i-navbar._fixed-top(variant="dark" fluid)
      i-navbar-brand(:to='{ name: \'index\' }' style="font-size: 25px;") 
        i.fas.fa-sun.fa-2x.mr-15
        | Engenho Velho Aparelho
      i-navbar-items._justify-content-end
        i-nav
          i-nav-item(:to='{ name: \'index\' }') San Pavlov
          i-nav-item(:to='{ name: \'about\' }') Rio de Dinheiro
          i-nav-item(:to='{ name: \'alagoas\' }') Salve Dores
        i-nav.ml-20(variant="dark ")
          i-dropdown(placement='bottom-start')
            i-button(variant="primary")
              i.material-icons.mr-10 keyboard_arrow_down
              | O Nordeste
            i-dropdown-menu(variant="dark")
              i-dropdown-item(to="pernambuco") 
                i.material-icons.mr-15 all_inclusive
                | Pernambuco
              i-dropdown-item(to= "ceara") 
                i.material-icons.md-24.mr-15 beach_access
                | Ceará
              i-dropdown-item(to="piaui") 
                i.material-icons.md-24.mr-15 directions_bike
                | Piauí
              i-dropdown-divider
              i-dropdown-item(to="/bahia")
                i.material-icons.md-24.mr-15 directions_run
                | Bahia
              i-dropdown-item(to="/maranhao")
                i.material-icons.md-24.mr-15 accessible
                | Maranhão
              i-dropdown-item(to="/paraiba")
                i.material-icons.md-24.mr-15 rss_feed
                | Paraíba
              i-dropdown-item(to="/sergipe")
                i.material-icons.md-24.mr-15 wifi
                | Sergipe
              i-dropdown-item(to="/alagoas")
                i.material-icons.md-24.mr-15 toys
                | Alagoas
              i-dropdown-item(to="/rio-grande")
                i.material-icons.md-24.mr-15 music_note
                | Rio Grande

    nuxt
    
    
</template>

export default {
	data () {
    return {
      visible: false
    };
  },
    methods: {
        toggleDarkMode() {
            this.$inkline.config.variant = this.$inkline.config.variant === 'light' ? 'dark' : 'light';
        }
    }
}export default {
	data () {
    return {
      visible: false
    };
  },
    methods: {
        toggleDarkMode() {
            this.$inkline.config.variant = this.$inkline.config.variant === 'light' ? 'dark' : 'light';
        }
    }
}
</script>
<style>
  html, body {
    font-family: "News Cycle", sans-serif !important;
    font-weight: 300 !important;
    font-style: normal !important;
    width: 100%;
    height: 100%;
    margin: 0px; 
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "News Cycle", sans-serif !important;
    font-weight: 300 !important;
    font-style:normal !important;
  }

  .dignity {
    font-family: "News Cycle", sans-serif !important;
    font-weight: 300 !important;
    font-style:normal !important;
  }

  i, .material-icons {
    vertical-align: middle;
  }

  .material-icons.md-18 { font-size: 18px; }
  .material-icons.md-24 { font-size: 24px; }
  .material-icons.md-36 { font-size: 36px; }
  .material-icons.md-48 { font-size: 48px; }
  .material-icons.md-56 { font-size: 56px; }
  .material-icons.md-64 { font-size: 64px; }
  .material-icons.md-72 { font-size: 72px; }
  .material-icons.md-80 { font-size: 80px; }
  .material-icons.md-96 { font-size: 96px; }
  /* Rules for using icons as black on a light background. */
  .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
  .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

  /* Rules for using icons as white on a dark background. */
  .material-icons.md-light { color: rgba(255, 255, 255, 1); }
  .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


</style>