<template lang="pug">
.home
	#bg
		img(src="/goldengatepaisagem.jpg")
	.hero-text
		i-row(center-xs)
			i-column._display-flex_justify-content-center(xs="12")
				h1._margin-bottom-remove
					i.material-icons.md-72 all_inclusive
				h1._margin-bottom-1  Tem Brincos de Ouro Tem
				h2._margin-top-0 O Quê É Que a Baiana Tem?
				h3._margin-top-0._margin-bottom-2 Tem Pano-da-Costa Tem
				._display-flex._display-flex._justify-content-center
					nuxt-link(to="/")
						i-button._margin-right-1(variant='dark') Linotype
					i-button._margin-right-1(variant='secondary') Hypertext
					i-button._margin-right-1(variant='dark' @click="toggleDarkMode") Manuscript
					i-button(variant="secondary" to="/cuneiform") Rosetta Stone

//- .home
//- 	i-container(fluid)
//- 		i-row(center-xs)
//- 			i-column._display-flex_justify-content-center(xs="12")
//- 				h1
//- 					i.fas.fa-chess.fa-4x
//- 				h1._margin-bottom-1 Cuneiform Brainstorm
//- 				h2._margin-top-0 From Hammurabi to al-Farabi
//- 				h3._margin-top-0._margin-bottom-2 How to Rightly Write
//- 				._display-flex._display-flex._justify-content-center
//- 					nuxt-link(to="/")
//- 						i-button._margin-right-1(variant='dark') Linotype
//- 					i-button._margin-right-1(variant='secondary') Hypertext
//- 					i-button._margin-right-1(variant='dark' @click="toggleDarkMode") Manuscript
//- 					i-button(variant="secondary" to="/cuneiform") Rosetta Stone

</template>
<script>
export default {
	data () {
    return {
      visible: false
    };
  },
    methods: {
        toggleDarkMode() {
            this.$inkline.config.variant = this.$inkline.config.variant === 'light' ? 'dark' : 'light';
        }
    }
}
</script>>

<style>

i-container {
  height: 100vh;
}

.debenture {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
</style>
	