<template lang="pug">
i.container(fluid)
  #bg
    img(src="/machiine-more.jpg")
  .hero-text
    i-row(center-xs)
      i-column._display-flex_justify-content-center(xs="12")
        h1
          i.fas.fa-chess.fa-4x
        h1._margin-bottom-1 Samba Maracatú e Baião
        h2._margin-top-0 Tudo Trouxe no Meu Matulão
        h3._margin-top-0._margin-bottom-2 Zé Ramalho e O Grande Gonzagão
        ._display-flex._display-flex._justify-content-center
          nuxt-link(to="/")
            i-button._margin-right-1(variant='dark') Linotype
          i-button._margin-right-1(variant='secondary') Hypertext
          i-button._margin-right-1(variant='dark' @click="toggleDarkMode") Manuscript
          i-button(variant="secondary" to="/cuneiform") Rosetta Stone

</template>
<script>
export default {
	data () {
    return {
      visible: false
    };
  },
    methods: {
        toggleDarkMode() {
            this.$inkline.config.variant = this.$inkline.config.variant === 'light' ? 'dark' : 'light';
        }
    }
}
</script>>

<style>

i-container {
  height: 100vh;
}

  i, .material-icons {
    vertical-align: middle;
  }

  .material-icons.md-18 { font-size: 18px; }
  .material-icons.md-24 { font-size: 24px; }
  .material-icons.md-36 { font-size: 36px; }
  .material-icons.md-48 { font-size: 48px; }
  .material-icons.md-56 { font-size: 56px; }
  .material-icons.md-64 { font-size: 64px; }
  .material-icons.md-72 { font-size: 72px; }
  .material-icons.md-80 { font-size: 80px; }
  .material-icons.md-96 { font-size: 96px; }
  /* Rules for using icons as black on a light background. */
  .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
  .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

  /* Rules for using icons as white on a dark background. */
  .material-icons.md-light { color: rgba(255, 255, 255, 1); }
  .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


.hero-image {
  background-image:  url("../static/machiine-one.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  filter: grayscale(100%) contrast(40%)
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}	

.debenture {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
</style>
	