<template lang="pug">
.home
	i-container(fluid)
		i-row(center-xs)
			i-column._display-flex_justify-content-center(xs="12")
				h1
					i.fas.fa-chess.fa-4x
				h1._margin-bottom-1 Pernambuco Caçambuco
				h2._margin-top-0 Frevo Que Ferve
				h3._margin-top-0._margin-bottom-2 Arrecifes do Almoxarife
				._display-flex._display-flex._justify-content-center
					nuxt-link(to="/")
						i-button._margin-right-1(variant='dark') Linotype
					i-button._margin-right-1(variant='secondary') Hypertext
					i-button._margin-right-1(variant='dark' @click="toggleDarkMode") Manuscript
					i-button(variant="secondary" to="/cuneiform") Rosetta Stone

</template>
<script>
export default {
	data () {
    return {
      visible: false
    };
  },
    methods: {
        toggleDarkMode() {
            this.$inkline.config.variant = this.$inkline.config.variant === 'light' ? 'dark' : 'light';
        }
    }
}
</script>>

<style>

i-container {
  height: 100vh;
}

.debenture {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
</style>
	